.add-team-wrapper {
  margin-bottom: 40px;
  input {
    width: 200px;
    height: 40px;
    border: 1px solid #6a6969;
    border-radius: 4px;
    padding: 5px 10px;

    &::placeholder {
      color: lightgray;
    }
  }

  button {
    border: 1px solid #6a6969;
    border-radius: 4px;
    background-color: lightgray;
    height: 40px;
    margin-left: 10px;
    width: 70px;
    cursor: pointer;
  }

  p{
    color: red;
  }
}